{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/jumbotron-narrow.css' %}">
    {% endblock css %}
    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body>

    <div class="container">
        {% block nav %}
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="#">Home</a></li>
{#                        <li role="presentation"><a href="#">About</a></li>#}
{#                        <li role="presentation"><a href="#">Contact</a></li>#}
                    </ul>
                </nav>
                <h3 class="text-muted">Tic Tac Toe</h3>
            </div>
        {% endblock nav %}
        {% block content %}
        {% endblock content %}
    </div>

    {% block js %}
        <script src="{% static 'vendor/underscore/underscore-min.js' %}"></script>
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/field.js' %}"></script>
    {% endblock js %}
    {% block extra_js %}
    {% endblock extra_js %}

</body>

</html>
